{% extends 'base.html.twig' %}

{% block title %}{{ 'acp_user_edit_page.title'|trans }}{% endblock %}

{% block body %}
    <header>
        <h1>{{ 'acp_user_edit_page.title'|trans }}</h1>
    </header>

    {{ form_start(editForm) }}

    <fieldset class="form-group">
        <legend>{{ 'acp_user_edit_page.account_details'|trans }}</legend>

        <div class="form-group">
            <label for="username">{{ 'username'|trans }}</label>
            {{ form_widget(editForm.username, {'attr': {'class': 'input'}}) }}
        </div>

        <div class="form-group">
            <label for="email">{{ 'mail'|trans }}</label>
            {{ form_widget(editForm.email, {'attr': {'class': 'input'}}) }}
        </div>

    </fieldset>

    <fieldset class="form-group">
        <legend>{{ 'acp_user_edit_page.security'|trans }}</legend>

        <div class="form-group">
            <label for="plainPassword">{{ 'password'|trans }}</label>
            <div class="form-password">
                {{ form_widget(editForm.plainPassword.first, {'attr': {'class': 'input', 'placeholder': 'acp_user_edit_page.placeholder_password'|trans }}) }}
                {{ form_widget(editForm.plainPassword.second, {'attr': {'class': 'input', 'placeholder': 'acp_user_edit_page.placeholder_repeat_password'|trans }}) }}
            </div>
        </div>
    </fieldset>

    <fieldset class="form-group">
        <legend>{{ 'acp_user_edit_page.user_status'|trans }}</legend>

        <div class="form-group">
            <div class="form-options">
                <label>{{ form_widget(editForm.is_verified, {'attr': {'class': 'checkbox'}}) }} {{ 'acp_user_edit_page.verified'|trans }}</label>
            </div>
        </div>

        <div class="form-group">
            <div class="form-options">
                <label>{{ form_widget(editForm.is_locked, {'attr': {'class': 'checkbox'}}) }} {{ 'acp_user_edit_page.locked'|trans }}</label>
            </div>
        </div>
    </fieldset>

    <fieldset class="form-group">
        <legend>{{ 'acp_user_edit_page.roles'|trans }}</legend>
        <div class="form-group">
            {{ form_widget(editForm.roles, {'attr': {'class': 'select-multiple'}}) }}
        </div>
    </fieldset>

    <button type="submit" class="btn btn-primary">{{ 'save_button'|trans }}</button>

    {{ form_end(editForm) }}
{% endblock %}
